{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["env", ["minify", { "evaluate": false }]],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
