{
  "env": {
    "development": {
      "presets": ["env", "es2015"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": [
        "env",
        "es2015",
        [
          "minify",
          {
            "evaluate": false,
            "mangle": {
              "exclude": ["CssItem", "DeadItem", "FontItem", "ImageItem", "InlineCssItem", "NcxItem", "SpineItem"]
            }
          }
        ]
      ],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
