{
  "parser": "babel-eslint",
  "extends": "@ridi/eslint-config",
  "rules": {
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "react/destructuring-assignment": 0
  }
}
