{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "extends": "@ridi/eslint-config",
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "react/destructuring-assignment": 0
  }
}
