{
  "require": [
    "babel-register"
  ],
  "temp-directory": "coverage/.nyc_output",
  "report-dir": "coverage",
  "reporter": [
    "lcov",
    "text-summary",
    "json"
  ],
  "cache": false,
  "include": [
    "**/src/**/*.js"
  ],
  "exclude": [
    "**/lib/**/*.js",
    "**/test/**/*.js"
  ]
}
